@import 'a11y';
@import 'alignment';
@import 'block-margin';
@import 'block-padding';
@import 'breakpoints';
@import 'colors';
@import 'container-shadow';
@import 'font-size';
@import 'hd-bcve';
@import 'lazyload';
@import 'text-shadow';
@import 'theme-dev';
@import 'visibility';

.wp-lightbox-container button {
	opacity: 1 !important;
}

.has-object-fit-cover figure {
	width: 100%;
	height: 100%;
}
