.alignleft {
	margin-inline-end: var(--wp--preset--spacing--regular) !important; // important to override unsuppressable inline core rules
}

.alignright {
	margin-inline-start: var(--wp--preset--spacing--regular) !important; // important to override unsuppressable inline core rules
}

.aligncenter,
.alignleft,
.alignnone,
.alignright {
	img {
		display: block;
	}

	a,
	img {
		margin: 0;
	}
}

.alignwide,
.alignfull {
	clear: both;
}

@media screen and (min-width: 100em) {
	body .is-layout-constrained > .alignwide {
		--wp--style--global--wide-size: 80rem;
	}
}
