html {
	&.is--mobilemenu--open {
		overflow: hidden;
		top: 0;
		width: 100%;
		height: calc(100 * var(--svh));

		@include breakpoint(desktop) {
			overflow-y: auto;
			position: static;
			height: auto;
		}
	}
}

body {
	--image-border-radius: .25rem;
	text-wrap: pretty;
}

@include context-view {
	[id] {
		scroll-margin-top: var(--wp--preset--spacing--regular);
	}

	body {
		overflow-x: hidden;
	}
}