html {
	&.is--mobilemenu--open {
		overflow: hidden;
		top: 0;
		width: 100%;
		height: calc(100 * var(--svh));

		@include breakpoint(desktop) {
			overflow-y: auto;
			position: static;
			height: auto;
		}
	}
}

body {
	--image-border-radius: .25rem;
	--wp--preset--blur--regular: 0.5rem;
	text-wrap: pretty;
}

@include context-view {

	html {
		scroll-behavior: smooth;
	}

	:target {
		scroll-margin-top: calc(var(--masthead--height, var(--wp--preset--spacing--regular)));

		// body.admin-bar & {
		// 	scroll-margin-top: calc(var(--masthead--height, var(--wp--preset--spacing--regular)));
		// }
	}

	body {
		overflow-x: hidden;
	}
}