figcaption {
	text-align: left;
	text-wrap-style: auto;
	text-indent: -1.5rem;
	margin-left: 1ch;
	margin-top: var(--stack-size); // override core
	margin-bottom: 0; // override core
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	max-width: var(--wp--style--global--content-size);
	font-style: italic;
	margin-inline: auto;

	&::before {
		display: inline-block;
		content: '↑';
		font-size: 1.2em;
		opacity: 0.5;
		margin-right: 0.5ch;
		filter: grayscale(1) brightness(3);
		transform: translateY(1.5px);
		text-indent: 0;
		font-style: normal;
	}

	a {
		display: inline;
	}
}

@container mediablock (min-width: 30rem) {
	figcaption {
		text-wrap-style: balance;
	}
}
