figcaption {
	text-align: left;
	margin-left: 1ch;
	margin-top: var(--stack-size); // override core
	margin-bottom: 0; // override core
	padding-right: 3rem;
	max-width: var(--wp--style--global--content-size);
	font-style: italic;
	margin-inline: auto;

	a {
		display: inline;
	}
}

@container mediablock (min-width: 30rem) {
	figcaption {
		text-wrap-style: balance;
	}
}
