body {
	--font-weight-normal: 400;
	--font-weight-bold: 700;

	--radius: 0;

	// Probably not necessary but useful for browser debugging
	--wp--preset--font-size--rem-base: #{$rem-font-size};
}

p:empty {
	display: none;
}

abbr,
acronym {
	cursor: help;
}

a,
button {
	transition: all 0.3s;
	text-decoration-thickness: 1px !important;
	text-underline-offset: 0.125em;
}

a {
	text-decoration-style: dotted;

	&:hover {
		text-decoration-style: solid;
	}
}

blockquote {
	margin-inline-start: 0;
	margin-inline-end: 0;
}

button {
	text-decoration: none;
}

// code,
// pre {
// 	color: #a85024;
// }

cite {
	display: block;
}

dd+dt {
	margin-top: var(--wp--preset--spacing--regular);
}

dt {
	font-weight: 700;
}

figure,
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

li {
	@extend .h-stack;
}

ol {
	@extend .h-stack--small;
	counter-reset: item;

	ol {
		margin-top: var(--wp--preset--spacing--small);
	}
}

ul {
	padding-left: 1.2em;
	list-style: revert;
	@extend .h-stack--small;

	ul {
		margin-top: var(--wp--preset--spacing--regular);
	}
}

nav {

	li,
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	a {
		text-decoration: none;
	}
}

p {
	&:empty {
		display: none;
	}

	&.has-background {
		padding: var(--wp--preset--spacing--regular);
	}
}

q {
	font-style: italic;
}

sub,
sup {
	font-size: var(--wp--preset--font-size--small);
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;

	&.fn {
		margin-left: 2px;
		font-weight: 900;
		font-size: 0.8em;
	}
}

sub {
	bottom: -0.25em;
}

input,
li,
p,
tr {
	font-size: 1em;
}

p {
	code {
		font-size: 0.85em;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	word-break: break-word;
	text-wrap: balance;

	a,
	a:active,
	a:hover {
		text-decoration: none;
		color: currentColor;
		font-weight: inherit;
	}
}

.has-medium-font-size strong {
	font-weight: 600;
}

@include context-edit {

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {

		a,
		a:active,
		a:hover {
			color: currentColor !important;
			border: none !important;
		}
	}
}