figcaption {
  text-align: left;
  text-wrap-style: auto;
  text-indent: -1.5rem;
  margin-left: 1ch;
  margin-top: var(--stack-size);
  margin-bottom: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: var(--wp--style--global--content-size);
  font-style: italic;
  margin-inline: auto;
}
figcaption a {
  display: inline;
}

@container mediablock (min-width: 30rem) {
  figcaption {
    text-wrap-style: balance;
  }
}
.wp-block-embed {
  container-name: mediablock;
}
.wp-block-embed iframe {
  width: 100%;
}
.wp-block-embed figcaption a {
  display: inline;
}
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIl9fX19fZWxlbWVudHMvX2ZpZ2NhcHRpb24uc2NzcyIsImJsb2Nrcy9jb3JlL2VtYmVkLnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUE7RUFDQztFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBOztBQUVBO0VBQ0M7OztBQUlGO0VBQ0M7SUFDQzs7O0FDbEJGO0VBQ0M7O0FBRUE7RUFDQzs7QUFHRDtFQUNDIiwiZmlsZSI6ImJsb2Nrcy9jb3JlL2VtYmVkLmNzcyJ9 */
