/*
 * https://every-layout.dev/layouts/stack/
 */
.h-stack {
  --stack-size: var(--wp--preset--spacing--regular);
}
.h-stack > * {
  margin-top: 0;
  margin-bottom: 0;
}
.h-stack > * + * {
  margin-top: var(--stack-size);
}
.h-stack--zero > * + * {
  --stack-size: 0;
}
.h-stack--xsmall > * + * {
  --stack-size: var(--wp--preset--spacing--xsmall);
}
.h-stack--small > * + *, .wp-block-image > * + * {
  --stack-size: var(--wp--preset--spacing--small);
}
.h-stack--medium > * + * {
  --stack-size: var(--wp--preset--spacing--medium);
}
.h-stack--large > * + * {
  --stack-size: var(--wp--preset--spacing--large);
}
.h-stack--xlarge > * + * {
  --stack-size: var(--wp--preset--spacing--xlarge);
}
.h-stack--xxlarge > * + * {
  --stack-size: var(--wp--preset--spacing--xxlarge);
}

figcaption {
  text-align: left;
  margin-left: 1ch;
  margin-top: var(--stack-size);
  margin-bottom: 0;
  padding-right: 3rem;
  max-width: var(--wp--style--global--content-size);
  font-style: italic;
  margin-inline: auto;
}
figcaption a {
  display: inline;
}

@container mediablock (min-width: 30rem) {
  figcaption {
    text-wrap-style: balance;
  }
}
.wp-block-image {
  text-align: center;
  margin-bottom: 0;
  container-type: inline-size;
  container-name: mediablock;
}
.single-post .wp-block-post-content > .wp-block-image:not(.alignwide):not(.alignfull), .single-page .wp-block-post-content > .wp-block-image:not(.alignwide):not(.alignfull) {
  max-width: calc(var(--wp--style--global--content-size) + 2rem);
}
@media screen and (min-width: 50rem) {
  .single-post .wp-block-post-content > .wp-block-image:not(.alignwide):not(.alignfull) img, .single-page .wp-block-post-content > .wp-block-image:not(.alignwide):not(.alignfull) img {
    transform: translateX(1rem);
  }
}
.wp-block-image .components-resizable-box__container,
.wp-block-image img {
  max-width: 100%;
}
.wp-block-image img {
  border: 1px solid var(--dominant-color, transparent);
}
.wp-block-image figcaption a {
  display: inline;
}

.wp-lightbox-container button {
  opacity: 1 !important;
}
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIl9fX19fZWxlbWVudHMvX3N0YWNrLnNjc3MiLCJfX19fX2VsZW1lbnRzL19maWdjYXB0aW9uLnNjc3MiLCJibG9ja3MvY29yZS9pbWFnZS5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBO0FBQUE7QUFBQTtBQUlBO0VBQ0M7O0FBRUE7RUFDQztFQUNBOztBQUVBO0VBQ0M7O0FBS0Q7RUFDQzs7QUFLRDtFQUNDOztBQUtEO0VBQ0M7O0FBS0Q7RUFDQzs7QUFLRDtFQUNDOztBQUtEO0VBQ0M7O0FBS0Q7RUFDQzs7O0FDdERIO0VBQ0M7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTs7QUFFQTtFQUNDOzs7QUFJRjtFQUNDO0lBQ0M7OztBQ2RGO0VBRUM7RUFDQTtFQUNBO0VBQ0E7O0FBSUM7RUFFQzs7QUFHQztFQUREO0lBRUU7OztBQU1KO0FBQUE7RUFFQzs7QUFHRDtFQUNDOztBQUdEO0VBQ0M7OztBQUtEO0VBQ0MiLCJmaWxlIjoiYmxvY2tzL2NvcmUvaW1hZ2UuY3NzIn0= */
