.c-main {
	--main--offset: clamp(3rem, 2.296rem + 3.005vw, 5rem);

	margin-top: calc(var(--masthead--height) + var(--main--offset)) !important;
	flex: 1;
	padding-left: var(--wp--preset--spacing--regular);
	padding-right: var(--wp--preset--spacing--regular);
	width: 100%;
	max-width: none;
	margin-left: auto;
	margin-right: auto;

	body.post-template-single-cover &,
	body.single-post &,
	body.single-photo &,
	body.post-template-single-panorama & {
		--main--offset: var(--wp--preset--spacing--regular);
	}

	body.home & {
		--main--offset: 1px;
	}

	body.is-overlapping-nav & {
		--main--offset: 1px;
		--masthead--height: var(--wp--preset--spacing--regular);
	}

	@media print {
		--main--offset: 0;
	}
}