.c-main {
	--main--offset: clamp(1rem, 0.296rem + 3.005vw, 3rem);

	margin-top: calc(var(--masthead--height) + var(--main--offset)) !important;
	flex: 1;
	@extend %h-guttered;

	body.post-template-single-cover,
	body.post-template-single-panorama & {
		--main--offset: var(--wp--preset--spacing--regular);
	}
}
