.c-menu {
	list-style: none;
	text-align: center;
	margin: 0;
	padding: 0;

	&--primary {
		display: none;
		font-size: var(--wp--preset--font-size--small);

		@include breakpoint(laptop) {
			display: block;
		}

		.c-menu__item {
			display: block;
		}
	}

	&__entries {
		&--primary {
			display: grid;
			align-items: flex-start;
			justify-content: center;
			text-align: center;
			row-gap: 4vh;

			@include breakpoint(tablet) {
				grid-template-columns: repeat(3, 1fr);
				text-align: left;
			}

			@include breakpoint(laptop) {
				grid-template-columns: repeat(4, 1fr);
				text-align: left;
			}
		}

		&--mobile {
			@extend .h-stack;
			margin-left: auto;
			margin-right: auto;
			padding-left: var(--wp--preset--spacing--regular);
			padding-right: var(--wp--preset--spacing--regular);
			max-width: var(--constraint-narrow);
			@include breakpoint(tablet) {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}

	&__entry {
		display: inline-block;
		&--mobile {
			display: block;
			.c-menu__entrylink {
				padding: 0;
			}
		}
	}

	&__entrylink {
		display: block;
		padding: 0.5rem 1rem;
	}
}
