@include context-view {
	.c-mobilemenu {
		display: none;
		box-sizing: border-box;
		position: fixed;
		top: var(--masthead--height);
		bottom: 0;
		left: 0;
		z-index: 1974;
		// Don't use "right" here: it creates a scroll overflow
		width: 100%;
		transform: translateX(100vw);
		opacity: 0;
		transition: opacity 300ms ease;
		height: 100svh;
		overflow: auto;
		backdrop-filter: blur(var(--wp--preset--blur--regular));
		transition: all 0.6s ease;
		background: var(--wp--preset--color--body-background-transparency);

		>* {
			position: relative;
			z-index: 1;
			padding: inherit;
		}

		body.admin-bar & {
			top: calc(var(--masthead--height) + var(--wp-admin--admin-bar--height));
		}

		@include breakpoint(laptop) {
			display: none;
		}

		&[aria-hidden='false'] {
			display: block;
			transform: translateX(0);
			opacity: 1;
		}

		.c-menu {
			&__entries {
				>.c-menu__entry>a {
					font-size: 1.25em;
				}
			}

			&__entry {
				display: block;
			}
		}

		.sub-menu {
			font-size: 0.8em;
			margin-bottom: var(--wp--preset--spacing--regular);
		}
	}

	html.is--mobilemenu--open {
		overflow: hidden;
	}
}