.wp-block-navigation.c-primarymenu {
	margin-block-start: 12px;

	@include breakpoint(wordpress_medium) {
		margin-top: 14px;
	}

	.wp-block-navigation__responsive-container-close {
		margin-block-start: 12px;
	}
}
