.wp-block-button {
	&__link {

		padding-bottom: 0.3em !important;

		&.has-transparent-background-color {
			padding: 0;
		}
	}

	&.is-style-with-arrow-right,
	&.is-style-with-arrow-down {
		.wp-block-button__link {
			display: inline-flex;
			align-items: center;
			line-height: 2;
		}
	}

	&.is-style-with-arrow-right {
		.wp-block-button__link {
			&::after {
				@include materialicon('arrow_forward');
				margin-left: 0.5em;
			}
		}
	}

	&.is-style-with-arrow-down {
		.wp-block-button__link {
			&::after {
				@include materialicon('arrow_downward');
				margin-left: 0.5em;
			}
		}
	}
}