<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"c-main","layout":{"type":"constrained"}} -->
<main class="wp-block-group c-main"><!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|xxlarge","right":"var:preset|spacing|xxlarge","bottom":"var:preset|spacing|xxlarge","left":"var:preset|spacing|xxlarge"}}},"className":"is-style-default","layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group alignfull is-style-default" style="padding-top:var(--wp--preset--spacing--xxlarge);padding-right:var(--wp--preset--spacing--xxlarge);padding-bottom:var(--wp--preset--spacing--xxlarge);padding-left:var(--wp--preset--spacing--xxlarge)"><!-- wp:heading {"textAlign":"center","level":1} -->
<h1 class="has-text-align-center">Page not found</h1>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">Oh dear. Something's gone wrong and the page, post or content you're looking for has either moved or been removed from the website. If you think that this might be a mistake, feel free to get in touch and let me know; otherwise you can use this search function to try and find what you're looking for (or something similar).</p>
<!-- /wp:paragraph -->

<!-- wp:search {"label":"Search","showLabel":false,"placeholder":"Enter a search term…","buttonText":"Search"} /-->

<!-- wp:group {"align":"wide","style":{"spacing":{"margin":{"top":"var:preset|spacing|xxlarge"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide" style="margin-top:var(--wp--preset--spacing--xxlarge)"><!-- wp:block {"ref":71059} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->