<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group">
	<!-- wp:template-part {"slug":"header","tagName":"header","align":"full"} /-->

	<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"className":"c-main","layout":{"type":"constrained"}} -->
	<main class="wp-block-group alignfull c-main" style="margin-top: 0; margin-bottom: 0">
		<!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|medium"}},"layout":{"type":"constrained","wideSize":"64rem"}} -->
		<div class="wp-block-group alignwide">
			<!-- wp:sht/primary-media {"align":"wide"} /-->

			<!-- wp:columns {"align":"wide"} -->
			<div class="wp-block-columns alignwide">
				<!-- wp:column {"style":{"spacing":{"padding":{"right":"var:preset|spacing|small","left":"var:preset|spacing|small"}}}} -->
				<div
					class="wp-block-column"
					style="padding-right: var(--wp--preset--spacing--small); padding-left: var(--wp--preset--spacing--small)"
				>
					<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|small"}},"layout":{"type":"constrained"}} -->
					<div class="wp-block-group">
						<!-- wp:post-title {"level":1,"isLink":true,"style":{"typography":{"fontWeight":"500"}},"fontSize":"medium"} /-->

						<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|xsmall"}},"textColor":"gray","layout":{"type":"flex","flexWrap":"nowrap"},"fontSize":"small"} -->
						<div class="wp-block-group has-gray-color has-text-color has-small-font-size">
							<!-- wp:paragraph -->
							<p>Published</p>
							<!-- /wp:paragraph -->

							<!-- wp:post-date {"fontSize":"small"} /-->
						</div>
						<!-- /wp:group -->
					</div>
					<!-- /wp:group -->

					<!-- wp:post-content {"align":"full","layout":{"inherit":true},"fontSize":"smaller"} /-->
				</div>
				<!-- /wp:column -->

				<!-- wp:column {"width":"","style":{"spacing":{"padding":{"right":"var:preset|spacing|small","left":"var:preset|spacing|small","top":"2px"}}}} -->
				<div
					class="wp-block-column"
					style="
						padding-top: 2px;
						padding-right: var(--wp--preset--spacing--small);
						padding-left: var(--wp--preset--spacing--small);
					"
				>
					<!-- wp:post-terms {"term":"collection","textAlign":"right","prefix":"Subjects: ","style":{"spacing":{"padding":{"top":"2px"}}},"fontSize":"small"} /-->
				</div>
				<!-- /wp:column -->
			</div>
			<!-- /wp:columns -->
		</div>
		<!-- /wp:group -->
	</main>
	<!-- /wp:group -->

	<!-- wp:template-part {"slug":"footer","tagName":"footer","align":"full","className":"site-footer"} /-->
</div>
<!-- /wp:group -->
