<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"var:preset|spacing|xlarge"}},"className":"c-main"} -->
<main class="wp-block-group c-main">
	<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|xlarge","bottom":"var:preset|spacing|medium"}},"position":{"type":""}},"layout":{"inherit":true,"type":"constrained"}} -->
	<div class="wp-block-group" style="padding-top: var(--wp--preset--spacing--xlarge); padding-bottom: var(--wp--preset--spacing--medium)">
		<!-- wp:group {"style":{"elements":{"link":{"color":{"text":"var:preset|color|dark-gray"},":hover":{"color":{"text":"var:preset|color|primary-dark"}}}}},"textColor":"gray"} -->
		<div class="wp-block-group has-gray-color has-text-color has-link-color">
			<!-- wp:post-title {"textAlign":"center","level":1,"style":{"typography":{"fontWeight":"600"}},"fontSize":"xxlarge"} /-->

			<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|small"},"elements":{"link":{"color":{"text":"var:preset|color|dark-gray"},":hover":{"color":{"text":"var:preset|color|primary-dark"}}}}},"textColor":"gray","fontSize":"small"} -->
			<div class="wp-block-group has-gray-color has-text-color has-link-color has-small-font-size">
				<!-- wp:group {"style":{"spacing":{"blockGap":"0.5rem"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
				<div class="wp-block-group">
					<!-- wp:post-date {"textColor":"gray","fontSize":"small"} /-->

					<!-- wp:paragraph -->
					<p>•</p>
					<!-- /wp:paragraph -->

					<!-- wp:post-terms {"term":"category"} /-->
				</div>
				<!-- /wp:group -->

				<!-- wp:sht/series-link {"textAlignment":"center"} /-->
			</div>
			<!-- /wp:group -->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->

	<!-- wp:post-content {"layout":{"inherit":true}} /-->

	<!-- wp:group {"style":{"spacing":{"blockGap":"0.5vw","margin":{"top":"3vw"}}},"layout":{"inherit":true,"type":"constrained"}} -->
	<div class="wp-block-group" style="margin-top: 3vw">
		<!-- wp:group {"style":{"spacing":{"blockGap":"10px"}},"className":"post-meta","layout":{"type":"flex"},"fontSize":"small"} -->
		<div class="wp-block-group post-meta has-small-font-size">
			<!-- wp:post-date {"textColor":"gray","fontSize":"small"} /-->

			<!-- wp:paragraph -->
			<p>•</p>
			<!-- /wp:paragraph -->

			<!-- wp:post-terms {"term":"category"} /-->
		</div>
		<!-- /wp:group -->

		<!-- wp:post-terms {"term":"post_tag","fontSize":"small"} /-->

		<!-- wp:spacer {"height":"60px"} -->
		<div style="height: 60px" aria-hidden="true" class="wp-block-spacer"></div>
		<!-- /wp:spacer -->

		<!-- wp:template-part {"slug":"single-comments"} /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
