<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"header","tagName":"header","align":"full"} /-->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"className":"c-main","layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull c-main" style="margin-top:0;margin-bottom:0"><!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|medium"}},"layout":{"type":"constrained","wideSize":"70rem","contentSize":"45rem"}} -->
<div class="wp-block-group alignwide"><!-- wp:sht/primary-media {"align":"wide"} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"photo-content-as-columns","align":"wide"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","align":"full","className":"site-footer"} /--></div>
<!-- /wp:group -->