<!-- wp:template-part {"slug":"header","theme":"latrigg","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"var:preset|spacing|xlarge"}},"className":"c-main"} -->
<main class="wp-block-group c-main">
	<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|medium","padding":{"top":"var:preset|spacing|medium","bottom":"var:preset|spacing|medium"}},"color":{"background":"#f3f3f3"}},"layout":{"inherit":true,"type":"constrained"}} -->
	<div
		class="wp-block-group has-background"
		style="
			background-color: #f3f3f3;
			padding-top: var(--wp--preset--spacing--medium);
			padding-bottom: var(--wp--preset--spacing--medium);
		"
	>
		<!-- wp:template-part {"slug":"post-title-with-meta","theme":"latrigg"} /-->

		<!-- wp:sht/primary-media /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:post-content {"layout":{"inherit":true}} /-->

	<!-- wp:group {"style":{"spacing":{"blockGap":"0.5vw","margin":{"top":"3vw"}}},"layout":{"inherit":true,"type":"constrained"}} -->
	<div class="wp-block-group" style="margin-top: 3vw">
		<!-- wp:group {"style":{"spacing":{"blockGap":"10px"}},"className":"post-meta","layout":{"type":"flex"},"fontSize":"small"} -->
		<div class="wp-block-group post-meta has-small-font-size">
			<!-- wp:post-date /-->

			<!-- wp:paragraph -->
			<p>•</p>
			<!-- /wp:paragraph -->

			<!-- wp:post-terms {"term":"category"} /-->
		</div>
		<!-- /wp:group -->

		<!-- wp:post-terms {"term":"post_tag","fontSize":"small"} /-->

		<!-- wp:spacer {"height":"60px"} -->
		<div style="height: 60px" aria-hidden="true" class="wp-block-spacer"></div>
		<!-- /wp:spacer -->

		<!-- wp:template-part {"slug":"single-comments","theme":"latrigg"} /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"latrigg","tagName":"footer","className":"site-footer"} /-->
