<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"c-main","style":{"spacing":{"blockGap":"var:preset|spacing|large"}}} -->
<main class="wp-block-group c-main">
	<!-- wp:cover {"useFeaturedImage":true,"dimRatio":60,"customOverlayColor":"#FFF","isUserOverlayColor":false,"minHeight":90,"minHeightUnit":"vh","customGradient":"linear-gradient(180deg,rgba(0,0,0,0) 44%,rgb(0,0,0) 100%)","contentPosition":"bottom center","isDark":false,"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|xlarge","right":"var:preset|spacing|regular","bottom":"var:preset|spacing|xlarge","left":"var:preset|spacing|regular"}},"dimensions":{"aspectRatio":"3/1"}},"withTextShadow":true} -->
	<div
		class="wp-block-cover alignfull is-light has-custom-content-position is-position-bottom-center with--text-shadow"
		style="
			padding-top: var(--wp--preset--spacing--xlarge);
			padding-right: var(--wp--preset--spacing--regular);
			padding-bottom: var(--wp--preset--spacing--xlarge);
			padding-left: var(--wp--preset--spacing--regular);
			min-height: 90vh;
		"
	>
		<span
			aria-hidden="true"
			class="wp-block-cover__background has-background-dim-60 has-background-dim has-background-gradient"
			style="background-color: #fff; background: linear-gradient(180deg, rgba(0, 0, 0, 0) 44%, rgb(0, 0, 0) 100%)"
		></span>
		<div class="wp-block-cover__inner-container">
			<!-- wp:group {"style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}},"spacing":{"blockGap":"var:preset|spacing|large"}},"textColor":"white","layout":{"type":"constrained"}} -->
			<div class="wp-block-group has-white-color has-text-color has-link-color">
				<!-- wp:post-title {"level":1,"fontSize":"huge"} /-->

				<!-- wp:group {"style":{"spacing":{"blockGap":"0.5rem"}},"fontSize":"smaller"} -->
				<div class="wp-block-group has-smaller-font-size">
					<!-- wp:group {"style":{"spacing":{"blockGap":"5px"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
					<div class="wp-block-group">
						<!-- wp:post-terms {"term":"category","suffix":","} /-->

						<!-- wp:post-date {"style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"textColor":"white"} /-->
					</div>
					<!-- /wp:group -->

					<!-- wp:group {"layout":{"inherit":false}} -->
					<div class="wp-block-group"><!-- wp:sht/series-link /--></div>
					<!-- /wp:group -->
				</div>
				<!-- /wp:group -->
			</div>
			<!-- /wp:group -->
		</div>
	</div>
	<!-- /wp:cover -->

	<!-- wp:group {"layout":{"type":"constrained"}} -->
	<div class="wp-block-group">
		<!-- wp:post-excerpt {"className":"is-style-lead"} /-->

		<!-- wp:post-content {"metadata":{"ignoredHookedBlocks":["jetpack/subscriptions"]},"align":"full","layout":{"inherit":true}} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"layout":{"type":"constrained"}} -->
	<div class="wp-block-group">
		<!-- wp:sht/outdoor-active-embed {"style":{"spacing":{"margin":{"top":"var:preset|spacing|xxlarge"}}}} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
	<div class="wp-block-group">
		<!-- wp:group {"className":"post-meta","style":{"spacing":{"blockGap":"10px"}},"fontSize":"small","layout":{"type":"flex"}} -->
		<div class="wp-block-group post-meta has-small-font-size">
			<!-- wp:post-date {"textColor":"gray","fontSize":"small"} /-->

			<!-- wp:paragraph -->
			<p>•</p>
			<!-- /wp:paragraph -->

			<!-- wp:post-terms {"term":"category"} /-->
		</div>
		<!-- /wp:group -->

		<!-- wp:post-terms {"term":"post_tag","fontSize":"small"} /-->

		<!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
		<div class="wp-block-group">
			<!-- wp:separator {"className":"is-style-wide","style":{"spacing":{"margin":{"bottom":"36px"}}}} -->
			<hr class="wp-block-separator has-alpha-channel-opacity is-style-wide" style="margin-bottom: 36px" />
			<!-- /wp:separator -->

			<!-- wp:heading {"textAlign":"center","level":3,"style":{"layout":{"selfStretch":"fit","flexSize":null},"spacing":{"margin":{"top":"4px","bottom":"10px"}}}} -->
			<h3 class="wp-block-heading has-text-align-center" style="margin-top: 4px; margin-bottom: 10px">
				Discover more from Permanent Tourist
			</h3>
			<!-- /wp:heading -->

			<!-- wp:paragraph {"align":"center","style":{"typography":{"fontSize":"15px"},"spacing":{"margin":{"top":"4px","bottom":"0px"}}}} -->
			<p class="has-text-align-center" style="margin-top: 4px; margin-bottom: 0px; font-size: 15px">
				Subscribe to get the latest posts sent to your email.
			</p>
			<!-- /wp:paragraph -->

			<!-- wp:group {"layout":{"type":"constrained","contentSize":"480px"}} -->
			<div class="wp-block-group"><!-- wp:jetpack/subscriptions {"appSource":"subscribe-block-post-end"} /--></div>
			<!-- /wp:group -->

			<!-- wp:separator {"className":"is-style-wide","style":{"spacing":{"margin":{"bottom":"36px"}}}} -->
			<hr class="wp-block-separator has-alpha-channel-opacity is-style-wide" style="margin-bottom: 36px" />
			<!-- /wp:separator -->
		</div>
		<!-- /wp:group -->

		<!-- wp:template-part {"slug":"single-comments"} /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
