<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"var:preset|spacing|xlarge"}},"className":"c-main","layout":{"type":"default"},"metadata":{"name":"Main"}} -->
<main class="wp-block-group c-main">
	<!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|xlarge"}},"layout":{"type":"constrained"},"metadata":{"name":"Header"}} -->
	<div class="wp-block-group alignwide">
		<!-- wp:group {"align":"wide","layout":{"type":"constrained","wideSize":"64rem"}} -->
		<div class="wp-block-group alignwide"><!-- wp:sht/primary-media {"align":"wide"} /--></div>
		<!-- /wp:group -->

		<!-- wp:template-part {"slug":"post-title-with-meta"} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:post-content {"layout":{"inherit":true}} /-->

	<!-- wp:group {"style":{"spacing":{"blockGap":"0.5vw","margin":{"top":"var:preset|spacing|xlarge"}}},"layout":{"inherit":true,"type":"constrained"},"metadata":{"name":"Meta and comments"}} -->
	<div class="wp-block-group" style="margin-top: var(--wp--preset--spacing--xlarge)">
		<!-- wp:group {"style":{"spacing":{"blockGap":"10px"}},"className":"post-meta","layout":{"type":"flex"},"fontSize":"small"} -->
		<div class="wp-block-group post-meta has-small-font-size">
			<!-- wp:post-date /-->

			<!-- wp:paragraph -->
			<p>•</p>
			<!-- /wp:paragraph -->

			<!-- wp:post-terms {"term":"category"} /-->
		</div>
		<!-- /wp:group -->

		<!-- wp:post-terms {"term":"post_tag","fontSize":"small"} /-->

		<!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|xlarge"}}},"layout":{"type":"constrained"}} -->
		<div class="wp-block-group" style="margin-top: var(--wp--preset--spacing--xlarge)">
			<!-- wp:template-part {"slug":"single-comments"} /-->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
