<!-- wp:template-part {"slug":"header","theme":"latrigg","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"var:preset|spacing|xlarge"}},"className":"c-main","layout":{"type":"default"},"metadata":{"name":"Main"}} -->
<main class="wp-block-group c-main">
	<!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|medium","padding":{"top":"var:preset|spacing|large","bottom":"var:preset|spacing|large"}},"color":{"background":"#f3f3f3"}},"layout":{"type":"constrained"},"metadata":{"name":"Header"}} -->
	<div
		class="wp-block-group alignwide has-background"
		style="background-color: #f3f3f3; padding-top: var(--wp--preset--spacing--large); padding-bottom: var(--wp--preset--spacing--large)"
	>
		<!-- wp:template-part {"slug":"post-title-with-meta","theme":"latrigg"} /-->

		<!-- wp:group {"align":"wide","layout":{"type":"constrained","wideSize":"","contentSize":"64rem"}} -->
		<div class="wp-block-group alignwide"><!-- wp:sht/primary-media {"align":"wide"} /--></div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->

	<!-- wp:post-content {"layout":{"inherit":true}} /-->

	<!-- wp:group {"style":{"spacing":{"blockGap":"0.5vw","margin":{"top":"var:preset|spacing|xlarge"}}},"layout":{"inherit":true,"type":"constrained"}} -->
	<div class="wp-block-group" style="margin-top: var(--wp--preset--spacing--xlarge)">
		<!-- wp:group {"style":{"elements":{"link":{"color":{"text":"var:preset|color|gray"}}},"spacing":{"blockGap":"var:preset|spacing|regular"}},"textColor":"gray","layout":{"type":"constrained"},"fontSize":"small"} -->
		<div class="wp-block-group has-gray-color has-text-color has-link-color has-small-font-size">
			<!-- wp:post-terms {"term":"category","prefix":"Categories: "} /-->

			<!-- wp:post-terms {"term":"post_tag","prefix":"Tags: "} /-->
		</div>
		<!-- /wp:group -->

		<!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|xlarge"}}},"layout":{"type":"constrained"}} -->
		<div class="wp-block-group" style="margin-top: var(--wp--preset--spacing--xlarge)">
			<!-- wp:template-part {"slug":"single-comments","theme":"latrigg"} /-->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"latrigg","tagName":"footer","className":"site-footer"} /-->
