<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"color":{"background":"#f3f3f3"}},"className":"c-main","layout":{"type":"constrained"}} -->
<main class="wp-block-group c-main has-background" style="background-color: #f3f3f3">
	<!-- wp:advanced-columns/columns {"uid":"65436f95526f1","align":"wide","columnsGap":{"all":{"v":"1.25rem","custom":true},"mobile":{"v":"1em","custom":true,"o":"all"}},"rowsGap":{"all":{"v":"2.5rem","custom":true},"mobile":{"v":"1em","custom":true,"o":"all"}},"grid":{"all":{"v":{"cols":5,"rows":2}},"mobile":{"v":{"cols":2,"rows":3},"o":true}},"rowHeight":{"all":{"v":"auto"},"mobile":{"v":"auto","o":"all"}},"verticalAlignment":"start"} -->
	<!-- wp:advanced-columns/column {"uid":"65436f9552708","colArea":{"all":{"v":""},"mobile":{"v":"2/2/3/3","o":true}},"verticalAlignment":"start"} -->
	<!-- wp:group {"style":{"elements":{"link":{"color":{"text":"var:preset|color|dark-gray"},":hover":{"color":{"text":"var:preset|color|black"}}}},"position":{"type":"sticky","top":"0px"}},"textColor":"gray","layout":{"type":"constrained"},"fontSize":"medium"} -->
	<div class="wp-block-group has-gray-color has-text-color has-link-color has-medium-font-size">
		<!-- wp:paragraph -->
		<p><a href="#">Latest images</a></p>
		<!-- /wp:paragraph -->

		<!-- wp:paragraph -->
		<p><a href="#">About the site</a></p>
		<!-- /wp:paragraph -->

		<!-- wp:paragraph -->
		<p><a href="#">Contact</a></p>
		<!-- /wp:paragraph -->
	</div>
	<!-- /wp:group -->
	<!-- /wp:advanced-columns/column -->

	<!-- wp:advanced-columns/column {"uid":"65436f955270b","colArea":{"all":{"v":"1/2/2/6","o":false},"mobile":{"v":"1/1/2/3","o":true}},"verticalAlignment":"start"} -->
	<!-- wp:post-featured-image {"style":{"border":{"width":"4px"}},"borderColor":"black"} /-->
	<!-- /wp:advanced-columns/column -->

	<!-- wp:advanced-columns/column {"uid":"65436f955270d","colArea":{"all":{"v":"2/2/3/6","o":false},"mobile":{"v":"2/1/3/2","o":true}},"verticalAlignment":"start"} -->
	<!-- wp:group {"style":{"position":{"type":"sticky","top":"0px"}},"layout":{"type":"default"}} -->
	<div class="wp-block-group">
		<!-- wp:columns {"verticalAlignment":"center","style":{"spacing":{"blockGap":{"top":"0","left":"var:preset|spacing|medium"}}}} -->
		<div class="wp-block-columns are-vertically-aligned-center">
			<!-- wp:column {"verticalAlignment":"center","style":{"spacing":{"blockGap":"var:preset|spacing|large"}}} -->
			<div class="wp-block-column is-vertically-aligned-center"><!-- wp:post-title {"level":1,"fontSize":"large"} /--></div>
			<!-- /wp:column -->

			<!-- wp:column {"verticalAlignment":"center"} -->
			<div class="wp-block-column is-vertically-aligned-center">
				<!-- wp:post-terms {"term":"post_tag","textAlign":"right","style":{"elements":{"link":{"color":{"text":"var:preset|color|dark-gray"},":hover":{"color":{"text":"var:preset|color|black"}}}}},"textColor":"gray","fontSize":"small","blockVisibility":{"controlSets":[{"id":1,"enable":true,"controls":{"screenSize":{"hideOnScreenSize":{"medium":true,"small":true}}}}]}} /-->

				<!-- wp:post-terms {"term":"post_tag","textAlign":"left","style":{"elements":{"link":{"color":{"text":"var:preset|color|dark-gray"},":hover":{"color":{"text":"var:preset|color|black"}}}}},"textColor":"gray","fontSize":"small","blockVisibility":{"controlSets":[{"id":1,"enable":true,"controls":{"screenSize":{"hideOnScreenSize":{"large":true}}}}]}} /-->
			</div>
			<!-- /wp:column -->
		</div>
		<!-- /wp:columns -->

		<!-- wp:columns -->
		<div class="wp-block-columns">
			<!-- wp:column {"style":{"spacing":{"blockGap":"var:preset|spacing|large"}}} -->
			<div class="wp-block-column"><!-- wp:post-content {"align":"full","layout":{"inherit":true}} /--></div>
			<!-- /wp:column -->

			<!-- wp:column -->
			<div class="wp-block-column"></div>
			<!-- /wp:column -->
		</div>
		<!-- /wp:columns -->
	</div>
	<!-- /wp:group -->
	<!-- /wp:advanced-columns/column -->
	<!-- /wp:advanced-columns/columns -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
