@import '../../_____elements/_stack.scss';

.wp-block-columns {
	gap: var(--wp--preset--spacing--medium);

	&.is-style-gapless {
		gap: 0;
	}

	&.is-style-narrow-gap {
		gap: calc(var(--wp--preset--spacing--medium) / 2);
	}
}

.wp-block-column {
	@extend .h-stack;
}
