@import '../../_____elements/_stack.scss';

.wp-block-cover {
	border-radius: var(--image-border-radius);
	overflow: hidden;

	&:not(.has-aspect-ratio)[style*='min-height:100vh'] {
		min-height: calc((100 * var(--svh)) - var(--masthead--height) - var(--wp--preset--spacing--regular)) !important;

		.admin-bar & {
			min-height: calc((100 * var(--svh)) - var(--masthead--height) - var(--wp--preset--spacing--regular) - var(--wp-admin--admin-bar--height)) !important;
		}
	}

	&.has-aspect-ratio {
		@media screen and (max-width: 63.9375em) {
			aspect-ratio: unset !important;
		}
	}

	&.has-custom-content-position {
		.wp-block-cover__inner-container {
			width: 100% !important;

			.wp-block-group {
				max-width: var(--wp--style--global--wide-size);
				margin-left: auto;
				margin-right: auto;

				>* {
					max-width: none;
				}
			}
		}
	}

	&__inner-container {
		@extend .h-stack;
	}
}

.wp-block-post-content>.wp-block-cover.alignfull:first-child {
	margin-top: calc(var(--main--offset) * -1 + 1px);
}