@import '../../_____elements/_stack.scss';

.wp-block-cover {
	border-radius: var(--image-border-radius);
	overflow: hidden;

	h1 {
		font-weight: 700;
	}

	&:not(.has-aspect-ratio)[style*='min-height:90vh'] {
		min-height: calc(90svh - var(--masthead--height) - var(--wp--preset--spacing--regular)) !important;

		.admin-bar & {
			min-height: calc(90svh - var(--masthead--height) - var(--wp--preset--spacing--regular) - var(--wp-admin--admin-bar--height)) !important;
		}
	}

	&:not(.has-aspect-ratio)[style*='min-height:100vh'] {
		min-height: calc(100svh - var(--masthead--height) - var(--wp--preset--spacing--regular)) !important;

		.admin-bar & {
			min-height: calc(100svh - var(--masthead--height) - var(--wp--preset--spacing--regular) - var(--wp-admin--admin-bar--height)) !important;
		}
	}

	&.has-aspect-ratio {
		@media screen and (max-width: 63.9375em) {
			aspect-ratio: unset !important;
		}
	}

	&.has-custom-content-position {
		.wp-block-cover__inner-container {
			width: 100% !important;
		}
	}

	&__inner-container {
		@extend .h-stack;
	}
}

.wp-block-post-content>.wp-block-cover.alignfull:first-child {
	margin-top: calc(var(--main--offset) * -1 + 1px);
}

.wp-block-cover.is-style-cover-page-header,
.wp-block-cover.is-style-cover-post-header {
	.wp-block-cover__background {
		opacity: .65;
		background: var(--wp--preset--gradient--shadow-top-and-bottom);
	}

	@media screen and (max-width:89.9375em) {
		min-height: 75vh !important;
	}
}

.wp-block-cover.is-style-cover-post-header {
	.wp-block-cover__background {
		opacity: .5 !important;
	}
}