@import '../../_____elements/_stack.scss';

.wp-block-cover {
	border-radius: var(--image-border-radius);
	overflow: hidden;

	&__inner-container {
		@extend .h-stack;
	}

	&[style*='min-height:100vh'] {
		min-height: calc(
			(100 * var(--vh)) - var(--masthead--height) -
				var(--wp--custom--spacing-outer-gutter)
		) !important;

		.admin-bar & {
			min-height: calc(
				(100 * var(--vh)) - var(--masthead--height) -
					var(--wp--custom--spacing-outer-gutter) -
					var(--wp-admin--admin-bar--height)
			) !important;
		}
	}
}

.wp-block-post-content > .wp-block-cover.alignfull:first-child {
	margin-top: calc(var(--main--offset) * -1 + 1px);
}
