body.single-post :not(.wp-block-heading):not(.wp-block-separator)+.wp-block-heading:not(:first-child) {
	margin-block-start: 3em;
}

.wp-block-heading:has(+.wp-block-footnotes) {
	margin-block-start: 1em;
	padding-block-start: 1em;
	border-top: 1px solid var(--wp--preset--color--medlight-gray);
}

.wp-block-heading.has-slammer-font-size {
	font-weight: 900;
}

body.blog .wp-block-post-content>:not(.wp-block-heading)+.wp-block-heading:not(:first-child),
body.page .wp-block-post-content>:not(.wp-block-heading)+.wp-block-heading:not(:first-child) {
	margin-block-start: var(--wp--preset--spacing--medium) !important;
}

body.blog .wp-block-post-content>:not(.wp-block-heading)+h2.wp-block-heading:not(:first-child),
body.page .wp-block-post-content>:not(.wp-block-heading)+h2.wp-block-heading:not(:first-child) {
	margin-block-start: var(--wp--preset--spacing--large) !important;
}