@import '../../_____elements/_stack.scss';
@import '../../_____elements/_figcaption.scss';

.wp-block-image {
	@extend .h-stack--small;
	text-align: center;
	margin-bottom: 0;
	container-type: inline-size;
	container-name: mediablock;

	&:not(.alignwide):not(.alignfull) {

		.single-post .wp-block-post-content>&,
		.single-page .wp-block-post-content>& {
			max-width: calc(var(--wp--style--global--content-size) * 1.1);
		}
	}

	.components-resizable-box__container,
	img {
		max-width: 100%;
	}

	figcaption a {
		display: inline;
	}
}

.wp-lightbox-container {
	button {
		opacity: 1 !important;
	}
}