@import '../../_____elements/_stack.scss';
@import '../../_____elements/_figcaption.scss';

.wp-block-image {
	@extend .h-stack--small;
	text-align: center;
	margin-bottom: 0;

	figcaption {
		@extend %figcaption;
	}

	&.alignfull {
		img {
			border-radius: 0;
		}
	}

	&.is-style-webcam {
		overflow: hidden;

		&>a {
			display: block;
		}

		img {
			aspect-ratio: 3/2;
		}
	}

	.components-resizable-box__container,
	img {
		max-width: 100%;
	}
}
