@import '../../_____elements/_stack.scss';
@import '../../_____elements/_figcaption.scss';

.wp-block-image {
	@extend .h-stack--small;
	text-align: center;
	margin-bottom: 0;

	.components-resizable-box__container,
	img {
		max-width: 100%;
	}
}

.wp-lightbox-container {
	button {
		opacity: 1 !important;
	}
}
