@import '../../_____elements/_stack.scss';

.wp-block-media-text {
	h1 + &,
	h2 + &,
	h3 + &,
	h4 + &,
	h5 + &,
	h6 + & {
		margin-top: var(--c-block-margin-top-medium);
	}

	.has-background > & {
		padding-top: calc(var(--wp--style--block-gap) * 2);
		padding-bottom: calc(var(--wp--style--block-gap) * 2);
	}

	// This block has too much CSS specificity in core
	.wp-block-media-text {
		&__content {
			padding: var(--wp--preset--spacing--medium)
				var(--wp--preset--spacing--regular);

			@extend .h-stack;
		}
	}

	.wp-block-post-content > & {
		&.alignwide:first-child {
			max-width: calc(1470px + var(--wp--style--block-gap) * 4);
		}
	}
}
