@import '../../../../../assets/settings.json';

@import '../../_______tools/mixins/breakpoints';
@import '../../_____elements/_stack.scss';

.wp-block-media-text {
	h1 + &,
	h2 + &,
	h3 + &,
	h4 + &,
	h5 + &,
	h6 + & {
		margin-top: var(--c-block-margin-top-medium);
	}

	&.is-stacked-on-mobile {
		gap: var(--wp--preset--spacing--medium);
		@include breakpoint(wordpress_small) {
			gap: var(--wp--preset--spacing--regular);
		}
	}

	&.has-background {
		.wp-block-media-text__content {
			@include breakpoint(wordpress_small) {
				padding-top: 0;
				padding-bottom: 0;
			}
		}

		&.has-media-on-the-right {
			.wp-block-media-text__content {
				padding-left: 0;
			}
		}

		&.has-media-on-the-left {
			.wp-block-media-text__content {
				padding-right: 0;
			}
		}
	}

	.has-background > & {
		padding-top: calc(var(--wp--style--block-gap) * 2);
		padding-bottom: calc(var(--wp--style--block-gap) * 2);
	}

	// This block has too much CSS specificity in core
	.wp-block-media-text {
		&__content {
			@extend .h-stack;
		}

		&__media {
			border-radius: var(--image-border-radius);
		}
	}
}
