@import '../../../../../assets/settings.json';
@import '../../_______tools/mixins/breakpoints';

.wp-block-navigation {
	.wp-block-navigation {
		&__responsive-close {
			max-width: none;
		}

		&__responsive-container {
			bottom: auto;

			&:is(.is-menu-open) {
				padding: var(--wp--preset--spacing--regular);

				.wp-block-navigation__responsive-dialog {
					margin-top: 0;
				}
			}
		}

		&__responsive-container-content {
			// @include breakpoint(tablet down) {
			--navigation-layout-justification-setting: flex-start;
			// }
		}

		&__submenu-icon {
			margin-top: 0;

			svg {
				margin-top: 0;
			}
		}

		&__submenu-container li {
			padding: var(--wp--preset--spacing--xxsmall) 0;
			&:first-child {
				padding-block-start: var(--wp--preset--spacing--small);
			}
			&:last-child {
				padding-block-end: var(--wp--preset--spacing--small);
			}
		}
	}

	&-item {
		&.current-menu-item,
		.wp-block-navigation-item__content.current-menu-ancestor {
			color: var(--wp--preset--color--primary);
		}
	}

	&__container {
		//@media screen and (max-width: 37.4375em) {
		--navigation-layout-justification-setting: flex-start !important;
		//}
	}

	&__submenu-container {
		@media screen and (max-width: 37.4375em) {
			gap: 0.5em !important;
			padding-left: 1rem !important;
			padding-right: 1rem !important;
		}
	}
}
