.wp-block-query-title {
	&__prefix {
		display: block;
		font-size: 0.5em;
	}

	.c-archive__titleprefix {
		display: block;
		font-size: var(--wp--preset--font-size--regular);
		font-family: var(--wp--preset--font-family--primary);
		font-weight: 500;
		color: var(--wp--preset--color--gray);
		letter-spacing: 0;
		margin-bottom: 0.5em;
	}
}
