@import '../../_____elements/stack';

.wp-block-quote {

	position: relative;
	@extend .h-stack;

	&::after {
		content: "”";
		font-size: 150px;
		line-height: 1;
		opacity: .1;
		display: block;
		position: absolute;
		right: 0;
		top: -16px;
	}

	cite {
		&::before {
			content: '-';
			margin-right: .5ch;
		}
	}
}
